.body {
  background-color: #162427;
  width: 320px !important;
  border: none;
  display: flex;
  gap: 1rem;
  height: fit-content;
  border-radius: 1rem;
}

.imageContainer {
  width: fit-content;
}

.imageContainer img {
  border-radius: 1rem;
}

.leftSide {
  padding: .5rem .5rem .5rem 0;
  width: 100%;
}

p.title {
  font-size: .9rem;
  color: #e4e9ce;
  height: 46px;
  width: 80% !important;
  width: inherit;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: .5rem;
  padding: 0;
}

p.author {
  font-size: .8rem;
  width: 70%;
  color:#67a2af;
}

p.rating {
  font-size: .9rem;
  font-weight: 100;
  color: #ffc634;
}

.titleBox {
  /* padding: ; */
  display: flex;
  width: inherit;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.authorBox {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: flex-start;
}

p.date {
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.link {
  font-weight: 300;
}

.link a {
  text-decoration: none;
  color: #e0a101;
}

@media only screen and (max-width: 1000px) {
  
}