.body {
  background-color: #1A2D31;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.sideNav {
  height: 100vh;
  width: 7%;
  min-width: 5%;
  background-color: #263f44;
  position: fixed;
}

.hero {
  width: 55%;
  margin-left: auto;
}

.rightNav {
  width: 33%;
}

@media only screen and (max-width: 1000px) {
  .body {
    flex-direction: column;
    gap: 0 0;
  }

  .sideNav {
    position: fixed;
    bottom: 0;
    height: fit-content;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    padding: .5rem
  }

  .hero {
    margin-left: 0;
    width: 100%;
  }
  .rightNav {
    display: none;
  }
}