.body {
  background-color: #1A2D31;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
}

.sideNav {
  height: 100vh;
  width: 7%;
  min-width: 5%;
  background-color: #263f44;
  position: fixed;
}

.hero {
  width: 55%;
  margin-left: auto;
}

.rightNav {
  width: 30%;
}